section.quizz {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 500px 1fr;
    background: $main-color;

    .left_side {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: $tertiary-color;

        .left_side_inner {
            @include flexMid;

            position: relative;
            width: 100%;
            height: 100%;

            .quizz_title {
                @include flexMid;

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 90px;
                background: $secondary-color;
                overflow: hidden;

                #question_number {
                    @include flexMid;

                    min-width: 90px;
                    height: 100%;
                    padding: 20px;
                    background: $contrast-orange;

                    p {
                        display: inline-flex;
                        font-family: "Montserrat", sans-serif;
                        font-size: 54px;
                        color: $main-color;
                    }
                }
                #question_title {
                    width: 100%;
                    text-align: center;
                    padding: 0 20px;
                    font-size: 26px;
                    color: $main-color;
                }
            }
            .description {
                text-align: center;
                color: $main-color;
                font-size: 22px;
                line-height: 1.8;
                padding: 50px;
            }
            #submit_answer {
                position: absolute;
                bottom: 0;
                width: 100%;
                border: none;
                background: $secondary-color;
                padding: 20px;
                font-family: "Montserrat", sans-serif;

                &:hover::before {
                    transform-origin: center bottom;
                    transform: scaleY(1);
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: scaleY(0);
                    transform-origin: center top;
                    background: $contrast-orange;
                    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                }

                span {
                    position: relative;
                    z-index: 2;
                    color: $main-color;
                    font-size: 20px;
                }
            }
        }
    }
    .right_side {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .right_side_inner {
            @include flexMid;

            width: 100%;
            height: 100%;
            padding: 50px 0 50px 50px;

            .answers {
                width: 100%;
                height: 100%;
                display: grid;
                row-gap: 40px;
                overflow: hidden;

                .answer {
                    @include flexMid;

                    position: relative;
                    padding: 50px;
                    background: $tertiary-color;
                    cursor: pointer;

                    &:hover::before,
                    &.selected::before {
                        transform-origin: center bottom;
                        transform: scaleY(1);
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transform: scaleY(0);
                        transform-origin: center top;
                        background: $secondary-color;
                        transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                    p {
                        position: relative;
                        z-index: 2;
                        text-align: center;
                        font-size: 22px;
                        color: $main-color;
                    }
                }
            }
        }
    }
}

// Media Queries :
@media screen and (max-width: 1200px) {
    section.quizz {
        min-height: 100vh;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    section.quizz .left_side,
    section.quizz .right_side {
        overflow: visible;
    }
    section.quizz .left_side .left_side_inner {
        min-height: 340px;
        padding-top: 90px;
        padding-bottom: 64px;
    }
    section.quizz .left_side .left_side_inner .description {
        font-size: 20px;
        padding: 20px;
    }
    section.quizz .right_side .right_side_inner {
        padding: 20px 0 0 0;
    }
    section.quizz .right_side .right_side_inner .answers {
        row-gap: 20px;
    }
}
