@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  height: 100vh;
  font-family: "Cardo";
  background: #e8e9e3;
}

::-moz-selection {
  color: #e8e9e3;
  background: #e0a696;
}

::selection {
  color: #e8e9e3;
  background: #e0a696;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.separator.header_separator {
  -webkit-transform: translateY(-12.5px);
          transform: translateY(-12.5px);
}

.separator.footer_separator {
  padding: 40px 0;
}

.separator .line {
  width: 100%;
  height: 2px;
  background: #6f6d6a;
}

.separator .line:first-child {
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.separator .line:last-child {
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.separator .paragraphe_symbol {
  margin: 0 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: "Montserrat";
}

.letter {
  display: inline-block !important;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #b53910;
  width: 100%;
  height: 40%;
  color: #e8e9e3;
  padding-bottom: 60px;
}

header .title h1 {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 58px;
  margin-bottom: 5px;
}

header .title p {
  font-size: 20px;
  font-weight: 400;
  color: #e0a696;
}

header .container {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  width: 90%;
  height: 450px;
  overflow: hidden;
}

header .container .left_side {
  overflow: hidden;
}

header .container .left_side .left_side_inner {
  width: 100%;
  height: 100%;
  background: url("../img/Illustration_Home_HP.jpg") no-repeat center 35%;
  background-size: cover;
}

header .container .right_side {
  overflow: hidden;
}

header .container .right_side .right_side_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: #e34a32;
  color: #e8e9e3;
  font-size: 20px;
  text-align: center;
}

header .container .right_side .right_side_inner p:first-child {
  margin-bottom: 20px;
}

header .container .right_side .right_side_inner a {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  background: #b53910;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

header .container .right_side .right_side_inner a:hover::before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .container .right_side .right_side_inner a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  background: #992e0a;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header .container .right_side .right_side_inner a span {
  position: relative;
  z-index: 2;
  color: #e8e9e3;
  font-size: 20px;
}

@media screen and (max-width: 890px) {
  header .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  header .container .left_side {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .container .right_side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 550px) {
  header .title h1 {
    font-size: 46px;
  }
  header .container .left_side {
    display: none;
  }
  header .container .right_side_inner p {
    font-size: 18px;
  }
}

.home_grid {
  width: 100%;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.home_grid .card_grid {
  overflow: hidden;
}

.home_grid .card_grid:nth-child(1) .card_grid_inner {
  background: url("../img/Grid_Ginny.jpg") no-repeat center center;
  background-size: cover;
}

.home_grid .card_grid:nth-child(1) .card_grid_inner.name_hover:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.home_grid .card_grid:nth-child(1) .card_grid_inner.name_hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.home_grid .card_grid:nth-child(2) .card_grid_inner {
  background: #992e0a;
}

.home_grid .card_grid:nth-child(3) .card_grid_inner {
  background: url("../img/Grid_Luna.jpg") no-repeat center center;
  background-size: cover;
}

.home_grid .card_grid:nth-child(3) .card_grid_inner.name_hover:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.home_grid .card_grid:nth-child(3) .card_grid_inner.name_hover::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.home_grid .card_grid:nth-child(4) .card_grid_inner {
  background: #e34a32;
}

.home_grid .card_grid:nth-child(5) .card_grid_inner {
  background: url("../img/Grid_Harry.jpg") no-repeat center center;
  background-size: cover;
}

.home_grid .card_grid:nth-child(5) .card_grid_inner.name_hover:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.home_grid .card_grid:nth-child(5) .card_grid_inner.name_hover::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.home_grid .card_grid:nth-child(6) .card_grid_inner {
  background: url("../img/Grid_Hagrid.jpg") no-repeat center center;
  background-size: cover;
}

.home_grid .card_grid:nth-child(6) .card_grid_inner.name_hover:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.home_grid .card_grid:nth-child(6) .card_grid_inner.name_hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.home_grid .card_grid .card_grid_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px;
  font-size: 22px;
  color: #e8e9e3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home_grid .card_grid .card_grid_inner.name_hover {
  position: relative;
}

.home_grid .card_grid .card_grid_inner.name_hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #161616;
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home_grid .card_grid .card_grid_inner.name_hover #name_hover_anim {
  position: relative;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  pointer-events: none;
}

.home_grid .card_grid .card_grid_inner.name_hover #name_hover_anim .letter {
  opacity: 0;
}

footer {
  width: 100%;
}

footer .aside_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #992e0a;
  width: 100%;
  padding: 20px 30px;
}

footer .aside_link:hover::before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

footer .aside_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  background: #e34a32;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

footer .aside_link span {
  position: relative;
  z-index: 2;
  color: #e8e9e3;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1080px) {
  .home_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .home_grid .card_grid:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home_grid .card_grid .card_grid_inner {
    font-size: 20px;
    padding: 35px;
  }
}

@media screen and (max-width: 610px) {
  .home_grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (250px)[6];
        grid-template-rows: repeat(6, 250px);
    height: auto;
  }
  .home_grid .card_grid:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home_grid .card_grid:nth-child(5) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home_grid .card_grid:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .home_grid .card_grid .card_grid_inner {
    font-size: 18px;
    padding: 25px;
  }
  .home_grid .card_grid .card_grid_inner.name_hover #name_hover_anim {
    font-size: 20px;
  }
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #e8e9e3;
}

main .title {
  width: 100%;
  height: 100%;
  background: #b53910;
}

main .title .title_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #e8e9e3;
}

main .title .title_inner h1 {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 58px;
  margin-bottom: 5px;
}

main .title .title_inner p {
  font-size: 20px;
  font-weight: 400;
  color: #e0a696;
  margin-bottom: 35px;
}

main .title .title_inner button {
  position: relative;
  width: 100%;
  border: none;
  background: #992e0a;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

main .title .title_inner button:hover::before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

main .title .title_inner button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  background: #8b2807;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

main .title .title_inner button span {
  position: relative;
  z-index: 2;
  color: #e8e9e3;
  font-size: 20px;
}

main .title .title_inner a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #e0a696;
  font-size: 16px;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .title .title_inner a:hover {
  color: #e8e9e3;
}

main .title .title_inner a:hover::before {
  width: 100%;
  left: 0;
}

main .title .title_inner a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 1px;
  background: #e8e9e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.load_container {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  pointer-events: none;
}

.load_container .loading_screen_left,
.load_container .loading_screen_right {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.load_container .loading_screen_left .loading_screen_left_inner, .load_container .loading_screen_left .loading_screen_right_inner,
.load_container .loading_screen_right .loading_screen_left_inner,
.load_container .loading_screen_right .loading_screen_right_inner {
  width: 100%;
  height: 100%;
  background: #cf4213;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.load_container .loading_screen_left .loading_screen_right_inner,
.load_container .loading_screen_right .loading_screen_right_inner {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  white-space: nowrap;
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #161616;
  opacity: 0.5;
  width: 5px;
  border-radius: 5px;
  margin: 3px;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */