@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  height: 100vh;
  font-family: "Cardo";
  background: #e8e9e3;
}

::-moz-selection {
  color: #e8e9e3;
  background: #f3a792;
}

::selection {
  color: #e8e9e3;
  background: #f3a792;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.separator .line {
  width: 100%;
  height: 2px;
  background: #6f6d6a;
}

.separator .line:first-child {
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.separator .line:last-child {
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.separator .paragraphe_symbol {
  margin: 0 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: "Montserrat";
}

.letter {
  display: inline-block !important;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header .aside_link {
  position: absolute;
  top: 0;
  right: 0;
  background: #992e0a;
  padding: 20px 30px;
}

header .aside_link:hover::before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .aside_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  background: #e34a32;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header .aside_link span {
  position: relative;
  z-index: 2;
  color: #e8e9e3;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #b53910;
  width: 100%;
  height: 40%;
  color: #e8e9e3;
  padding-bottom: 60px;
}

header .title h1 {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 58px;
  margin-bottom: 5px;
}

header .title p {
  font-size: 20px;
  font-weight: 400;
  color: #f3a792;
}

header .container {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  width: 90%;
  height: 450px;
  overflow: hidden;
}

header .container .left_side {
  overflow: hidden;
}

header .container .left_side .left_side_inner {
  width: 100%;
  height: 100%;
  background: url("../img/Illustration_Home_HP.jpg") no-repeat center 35%;
  background-size: cover;
}

header .container .right_side {
  overflow: hidden;
}

header .container .right_side .right_side_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: #e34a32;
  color: #e8e9e3;
  font-size: 20px;
  text-align: center;
}

header .container .right_side .right_side_inner p:first-child {
  margin-bottom: 20px;
}

header .container .right_side .right_side_inner button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  background: #b53910;
  padding: 20px;
}

header .container .right_side .right_side_inner button:hover::before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .container .right_side .right_side_inner button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  background: #992e0a;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header .container .right_side .right_side_inner button span {
  position: relative;
  z-index: 2;
  color: #e8e9e3;
  font-size: 20px;
}

@media screen and (max-width: 890px) {
  header .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  header .container .left_side {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .container .right_side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 550px) {
  header .title h1 {
    font-size: 46px;
  }
  header .aside_link {
    padding: 15px 20px;
  }
  header .container .left_side {
    display: none;
  }
  header .container .right_side_inner p {
    font-size: 18px;
  }
}

.quizz {
  width: 100%;
  height: 100%;
  background: #e8e9e3;
}
/*# sourceMappingURL=style.css.map */